.settings/**
.idea/**

# js projects build results
dist/
package-lock.json

# java project build results
target/
__pycache__/
acceptance-tests/__pycache__/
acceptance-tests/api_framework/__pycache__/
*.pyc

local_postgres_data/
.project
.classpath
.settings/
.settings/**

prototypes/solr/.metadata/**
scripts+configurations/**/lib/**
scripts+configurations/**/backup/**
*.bz2
*.log
*.orig

.metadata/**
test-output
*.iml
binaries/**
*/*jar.output.dir*/

problems.db
*.iws
*.ipr
*.epoch
**/jetty.pid
**/log
.mvn

*.log
*.lock
**/.DS_Store
**/*.jar
**/.idea/**
**/.idea/*
all-to-slipchansky.cmd
.factorypath
