.settings/**
.idea/**

# js projects build results
dist/
package-lock.json

# java project build results
target/



.project
.classpath
.settings/
.settings/**
prototypes/solr/.metadata/**
scripts+configurations/**/lib/**
scripts+configurations/**/backup/**
*.bz2
*.log
*.orig

.metadata/**
test-output
*.iml
binaries/**
*/*jar.output.dir*/

problems.db
*.iws
*.ipr
*.epoch
**/jetty.pid
**/log
.mvn

*.log
*.lock
**/.DS_Store
**/*.jar
**/.idea/**
**/.idea/*
